---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h3>Pre-Prints</h3>

<table><tbody>
  <tr>
    <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="/images/Tiny_Risk.gif" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Unraveling Complex Sequential Social Dilemmas: In a Risky World with A2C Decision Transformer</papertitle>
      <br>
      <I><b>Ashish Panchal</b>, <a href ="https://www.isb.edu/en/research-thought-leadership/faculty/faculty-directory/vandith-pamuru.html">Vandith Pamuru</a></I>
      <br>
      <p><b>News! </b>Accepted for AAAI-2025 Multi-Agent AI in the Real World (MARW) workshop</p>
      <br>
      <br>
      <a href="/files/A2C-DT.pdf" target="_blank">Paper</a> | <a href="https://github.com/ashishpanchal33/Tiny-Risk-and-A2C-Decision-Transformer" target="_blank">Project</a>
    </td>
  </tr>
</tbody></table>
<be>

<h3>New Projects!</h3>

<table><tbody>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/LLM_agent_arch.png" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle> Bargaining Under Breach: Prompt Hacking and the Integrity of Economic LLM Negotiations </papertitle>
      <br>
      <I>Advisor : <a href ="https://www.isb.edu/en/research-thought-leadership/faculty/faculty-directory/vandith-pamuru.html">Dr. Vandith Pamuru</a></I>
      <br>
      <p>In progress (Abstract submitted to MISQ AI-IA Nexus special issue)</p>
      <br>
      <a href="/files/Bargaining Under Breach.pdf" target="_blank">Abstract</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/LLM_agent_arch2.png" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle> Temporal Dynamics of Deception: Investigating Sleeper LLM Activation and Human Trust </papertitle>
      <br>
      <I>Advisor : <a href ="https://www.isb.edu/en/research-thought-leadership/faculty/faculty-directory/vandith-pamuru.html">Dr. Vandith Pamuru</a></I>
      <br>
      <p>In progress (Abstract submitted to MISQ AI-IA Nexus special issue)</p>
      <br>
      <a href="/files/Sleeper Threats LLM agents.pdf" target="_blank">Abstract</a>
    </td>
  </tr>
<tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/LLM_agent_arch3.png" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle> PILLAGE - Persona Induced LLM AGEnts: Human persona in LLM Agents and manipulation of Negotiation outcomes </papertitle>
      <br>
      <I>Advisors : <a href ="https://www.isb.edu/en/research-thought-leadership/faculty/faculty-directory/vandith-pamuru.html">Dr. Vandith Pamuru</a>, <a href="https://scholar.google.co.in/citations?user=_cAwG4gAAAAJ">Dr. Vijay Madisetti</a>  </I>
      <br>
      <p>In progress (Abstract submitted to MISQ AI-IA Nexus special issue)</p>
      <br>
      <a href="/files/PILLAGE.pdf" target="_blank">Abstract</a>
    </td>
  </tr>
  
</tbody>
</table>


  
  
<be>
<h3> Research Projects </h3>

<table><tbody>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/Tiny_Risk.gif" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Tiny-Risk: Dynamic relationship building - Extensive form Sequential Social Dilemma </papertitle>
      <br>
      <p>In progress</p>
      <br>
      <a href="https://github.com/ashishpanchal33/Tiny-Risk-and-A2C-Decision-Transformer" target="_blank">Project</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/A2C_DT.png" alt="" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Advantage Actor Critic Decision Transformer</papertitle>
      <br>
      <p>In progress</p>
      <br>
      <a href="https://github.com/ashishpanchal33/Tiny-Risk-and-A2C-Decision-Transformer" target="_blank">Project</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/IRL.png" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Inverse Reinforcement Learning using Sequential Models to explain long-horizon non-markovian Behavior </papertitle>
      <br>
      <p>In progress</p>
      <br>
      <a href="https://github.com/ashishpanchal33/IRL_Decision_Transformer" target="_blank">Project</a>
    </td>
  </tr>

  
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/VR_negotiation_2.png" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>How virtual reality changes Human interactions: the positives and the negatives. A negotiation study </papertitle>
      <br>
      <I>Advisor : <a href ="https://www.isb.edu/en/research-thought-leadership/faculty/faculty-directory/vandith-pamuru.html">Dr. Vandith Pamuru</a></I>
    </td>
  </tr>

  
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/density.png" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Cell Growth Media Precipitation Quantification using Vision Transformer: A model parameter performance study</papertitle>
      <br>
      <I><b>Ashish Panchal</b>, Amr El Gendy, John Henderson</I>
      <br>
      <a href="/files/CS7643_Final_Project.pdf" target="_blank">Report</a> | <a href="https://github.com/ashishpanchal33/Vision_Transformer_Density_estimation" target="_blank">Project</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/crypto.png" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Utilizing Social Listening to Identify Cryptocurrency trends</papertitle>
      <br>
      <I>Eram Khan, <b>Ashish Panchal</b> (equal contribution)</I>
      <br>
      <a href="/files/Social Crypto Cues - Project report.pdf" target="_blank">Report</a> | <a href="/files/Social Crypto Cues - Project poster.pdf" target="_blank">Poster</a> | <a href="https://public.tableau.com/app/profile/eram.khan/viz/SocialCryptoCues-Team093/UserGuide" target="_blank">Dashboard-Link</a>  | <a href="https://github.com/ashishpanchal33/Social_crypto_ques_Roberta" target="_blank">Project</a>
    </td>
  </tr>
  

  
</tbody></table>

  
  
<h3>Self led and Exploratory Projects</h3>

<table><tbody>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/Lunar_Lander_DQN.gif" alt="" />
    </td>
    
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Solution and experimental analysis of Lunar lander using Deep Q Networks with Experience Replay</papertitle>
      <br>
      <p>Area of Study: Deep Reinforcement Learning</p>
      <br>
      <a href="/files/Apanchal33_RL_P2.pdf" target="_blank">Report</a> | <a href="https://github.com/ashishpanchal33/Lunar-Lander-DQN" target="_blank">Project</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/TD_Learning.png" alt="" />
    </td>
    
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Experimental Replication and Analytical review of "learning to predict by the methods of Temporal Differences" by R. Sutton</papertitle>
      <br>
      <p>Area of Study: Deep Reinforcement Learning</p>
      <br>
      <a href="/files/Apanchal33_RL_Project1_.pdf" target="_blank">Report</a> | <a href="https://github.com/ashishpanchal33/TD-Learning-Review" target="_blank">Project</a>
    </td>
  </tr>


  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/Strat_eval.png" alt="" />
    </td>
    
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Analysis of Trading strategies: Manual vs Strategic Q-learner</papertitle>
      <br>
      <p>Area of Study: Reinforcement learning, Machine Learning for Trading</p>
      <br>
      <a href="/files/p8_strategyEval_report.pdf" target="_blank">Report</a>
    </td>
  </tr>

  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/strat_eval_0.png" alt="" />
    </td>
    
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Analysis and implementation of theoretically optimal trading policy using technical analysis indicaters</papertitle>
      <br>
      <p>Area of Study: Reinforcement learning, Machine Learning for Trading</p>
      <br>
      <a href="/files/p6_indicatorsTOS_report.pdf" target="_blank">Report</a>
    </td>
  </tr>


  

  
</tbody></table>


<h3>Conference Publications (Undergraduate)</h3>

<table><tbody>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/Mobile_white_k.gif" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>External mechanism to prevent irreversible damage to hardware components of a cellular phone</papertitle>
      <br>
      <I>Eram Khan, <b>Ashish Panchal</b> </I>
      <br>
      <a href="https://ieeexplore.ieee.org/document/7489572" target="_blank">Paper</a>
      <!--- <a href="/files/External_mechanism_to_prevent_irreversible_damage_to_hardware_components_of_a_cellular_phone_Mobile_white_knight.pdf" target="_blank">Paper</a> --->
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/Mechanical_movement_aid.gif" alt="" />
    </td >

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Mechanical movement aid to nerve damaged and parkinson’s using pressure frequency detection</papertitle>
      <br>
      <I>Eram Khan, <b>Ashish Panchal</b> </I>
      <br>
      <a href="https://ieeexplore.ieee.org/document/7322775" target="_blank">Paper</a>
      <!--- <a href="/files/Mechanical_movement_aid_to_nerve_damaged_and_parkinsons_using_pressure_amp_frequency_detection_pseudo_arm_controller.pdf" target="_blank">Paper</a> --->
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/wired_network_service.gif" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Wired network services in mobile phonese</papertitle>
      <br>
      <I>Subhash Reddy, <b>Ashish Panchal</b>, Shailendra, B. P. Patil</I>
      <br>
      <a href="https://ieeexplore.ieee.org/document/7124928" target="_blank">Paper</a>
      <!--- <a href="/files/Wired_network_services_in_mobile_phones.pdf" target="_blank">Paper</a> --->
    </td>
  </tr>
</tbody></table>
<br>
  

<h3> Industry Projects</h3>
<p> Please refer <a href="https://www.linkedin.com/in/ashishpanchal1/">my LinkedIn</a> profile and <a href="/files/CV_Ashish_Panchal_prof.pdf">my CV</a> for details on my corporate projects and endeavors.</p>



<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



