---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

<p style="text-align: justify;">
Over time, I’ve had the opportunity to share my work at conferences, workshops, and academic discussions. While still early in my research journey, I value these experiences for the feedback they provide and the connections they spark. Below are some of my recent presentations and speaking engagements.
</p>

{% if site.talkmap_link == true %}
<p><a href="/talkmap.html">Curious where I’ve presented? See the interactive talk map!</a></p>
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
