---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---

<h3>Self Led Projects</h3>

<table><tbody>
  <tr>
    <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/academicPage/images/Mineral_Classification.png" alt="" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle><b>Identification of Minerals using Deep Convolutional Neural Networks</b></papertitle>
      <br>
      <p>This project focuses on the automated identification of mineral species from their microscopic images — a process typically performed manually by geologists. A dataset comprising 7 mineral classes was constructed by collecting images from Kaggle and the Bing Search API. The study utilizes data augmentation techniques alongside VGG-16 and VGG-19 convolutional neural network architectures to aid in robust and accurate mineral recognition.</p>
  
      <p>The trained models achieved a training accuracy of 73.43% and a test accuracy of 70.89%.</p>
  
      <p><b>Tech Stack:</b> Bing Search API, TensorFlow, Keras, OpenCV</p>
  
      <a href="https://github.com/gshivansh2001/Mineral_Classification" target="_blank">Project Link</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/academicPage/images/Face Mask Detection.png" alt="Face Mask Detection" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle><b>Face Mask Detection Using Convolutional Neural Networks</b></papertitle>
      <br>
      <p>
        This project focuses on the automated detection of face masks in real-world scenarios using deep convolutional neural networks. The dataset, constructed from masked and unmasked face images retrieved through the Bing Search API, was used to enable robust and accurate mask detection under various conditions. Image data augmentation techniques were applied to account for variation in lighting, pose, and other factors. The VGG-19 and ResNet50 architectures were fine-tuned to maximize performance, yielding a high training accuracy of 0.994. The trained models demonstrated strong generalization capabilities when evaluated on a range of real-world, previously unseen images.
      </p>
      <p>
        <b>Tech Stack:</b> Python, TensorFlow, Keras, CNN, VGG-19, ResNet50, Bing Search API
      </p>
      <a href="https://github.com/gshivansh2001/Face-Mask-Detection" target="_blank">Project Repository</a> | <a href="https://huggingface.co/spaces/shivanshg/Face_Mask_Detection" target="_blank">Project Demo</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/academicPage/images/store_sales_pred.png" alt="Store Sales Prediction" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle><b>Store Sales Prediction Using Time Series Forecasting</b></papertitle>
      <br>
      <p>This project utilises the Kaggle Store Sales dataset to predict future sales based on historical data and additional store-specific metadata. After merging the various datasets and extensive data preprocessing, the data was transformed into a time-series format. Stationarity and correlation were evaluated using the Augmented Dickey-Fuller and Cointegration (Johansen) tests, and the time-series was subsequently decomposable into its trend and seasonal components. The models were trained using both VAR and LSTM architectures.</p>
  
      <p>Evaluation metric: RMSLE of 2.39</p>
  
      <p><b>Tech Stack:</b> Python, Keras, TensorFlow, Scikit-Learn, Statsmodels</p>
  
      <a href="https://github.com/gshivansh2001/Store-sales-kaggle-competition" target="_blank">Project Link</a>
    </td>
  </tr>

  <tr>
    <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/academicPage/images/Age_and_gender_pred.png" alt="Voice Analysis" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle><b>Gender & Age Prediction Using Voice</b></papertitle>
      <br>
      <p>This project focuses on the automated prediction of gender and age from voice recordings — a task that has significant applications in human-machine interaction, forensics, and health care. Audio files were first processed and parsed to extract relevant acoustic features, with Mel-frequency cepstral coefficients (MFCC) used to aid in distinguishing between genders and estimating age groups.</p>
  
      <p>Multiple machine learning algorithms were trained and evaluated to maximise predictive accuracy, yielding a gender prediction accuracy of 0.93 and an age prediction accuracy of 0.79. Data visualization and pattern analysis were performed using Pandas and Seaborn to aid in interpreting the models’ performance.</p>
  
      <p><b>Tech Stack:</b> Python, TensorFlow, Librosa, Pandas, Seaborn</p>
  
      <a href="https://github.com/gshivansh2001/Gender_and_age_detection_common_voice_dataset_audio_processing" target="_blank">Project Repository</a> | <a href="https://huggingface.co/spaces/shivanshg/Gender_Age_Prediction" target="_blank">Project Demo</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/academicPage/images/Loan_default_pred.png" alt="Loan Default Prediction" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle><b>Loan Default Prediction Using Deep Neural Networks</b></papertitle>
      <br>
      <p>This project aims to predict whether a loan application should be approved or not, using financial data from the Lending Club dataset. An extensive exploratory data analysis was performed to identify patterns, handle missing values, and prepare the dataset for training.</p>
  
      <p>A deep neural network was trained for the prediction task, yielding a training accuracy of 0.891 and a test accuracy of 0.863, demonstrating strong predictive performance.</p>
  
      <p><b>Tech Stack:</b> Seaborn, NumPy, Pandas, Keras, TensorFlow</p>
  
      <a href="https://github.com/gshivansh2001/Lending_Club_loan_default_prediction" target="_blank">Project Link</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/academicPage/images/Spam_Detection.png" alt="SMS Spam Classifier" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle><b>SMS Spam Classifier Using Naive Bayes</b></papertitle>
      <br>
      <p>This project focuses on classifying messages as spam or non-spam by employing the Naive Bayes algorithm. The dataset consists of labelled messages, which were processed through stemming, removal of stopwords, and tokenization using NLTK. Subsequently, a bag-of-words representation was constructed to aid in training the classifier.</p>
  
      <p>The trained model achieved an accuracy score of 97.55 and an F1 score of 90.78, demonstrating strong performance in distinguishing spam from non-spam messages.</p>
  
      <p><b>Tech Stack:</b> Python, NLTK, scikit-learn, NumPy, Pandas</p>
  
      <a href="https://github.com/gshivansh2001/SMS_Spam_Classification" target="_blank">Project Link</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/academicPage/images/digit_pred.png" alt="Handwritten Digit Recognition" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle><b>Handwritten Digit Recognition Using Deep Neural Networks</b></papertitle>
      <br>
      <p>This project involves the recognition of handwritten digits using deep neural networks trained on the MNIST dataset. The model was implemented using Keras with TensorFlow as the backend. Subsequently, OpenCV was used for image processing and for making predictions on new samples.</p>
  
      <p>The trained network achieved an accuracy of 98.197, with a mean standard deviation of 0.097 across 5-fold cross-validation, demonstrating strong generalisation performance.</p>
  
      <p><b>Tech Stack:</b> TensorFlow, Keras, OpenCV</p>
  
      <a href="https://github.com/gshivansh2001/MNIST_Handwritten-Digit-_Recognistion_" target="_blank">Project Link</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/academicPage/images/HR_Analytics_pred.png" alt="Promotion Prediction" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle><b>Prediction of Promotion for an Individual Using Neural Networks in HR Analytics</b></papertitle>
      <br>
      <p>This project utilises a dataset provided by Analytics Vidhya to predict whether an employee is likely to be promoted, based on their past performance and a range of other factors. The dataset contained missing values, which were addressed through regression imputation, and extensive exploratory data analysis was performed to uncover key patterns in the data.</p>
  
      <p>The model was trained using a deep neural network architecture, yielding a training accuracy of 93.89%, a test accuracy of 91.7%, and an F1 score of 0.57.</p>
  
      <p><b>Tech Stack:</b> Keras, TensorFlow, Seaborn, Matplotlib, Pandas</p>
  
      <a href="https://github.com/gshivansh2001/Human-Resource-Analytics" target="_blank">Project Link</a>
    </td>
  </tr>
</tbody></table>
  

<h3> GitHub Repositories</h3>
<p> Please refer to my <a href="https://github.com/gshivansh2001?tab=repositories">GitHub Repositories</a> for details more details on my projects and endeavors.</p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
